/* About Us Page specific styles */
.aboutus{
    margin: 10%;
    display: inline-block;
    height: 90hv;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -110px;
    margin-left: 10px;
}
@media(max-width:909px){
    h1{
        margin-top: -60px;
    }
}

.title-mission {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
    margin-top: 90px;
}

.Mission {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

/* Add specific navigation styles for About Us page */

